<h3>Update Project Details</h3>
<%= form_with model: @project do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>